html,
body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
}

html {
  background: #0a0d12;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #0a0d12;
}

* {
  box-sizing: border-box;
}
